/* Page settings */
@font-face {
    font-family: 'thermes';
    src: url('../src/fonts/uni_heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #151515;
	font-family: 'thermes';
}

/* Page Content */
.text {
    margin-top: 100px;
    width: 100%;
    color: antiquewhite;
    text-align: center;
    font-size: 200%;
}

.link {
    color: antiquewhite;
}