@font-face {
    font-family: 'thermes';
    src: url('../src/fonts/thermes-webfont.woff') format('woff'),
        url('../src/fonts/thermes-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'thermes';
}