@font-face {
    font-family: 'thermes';
    src: url('../src/fonts/uni_heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'thermes';
}

.box {
    float: right;
    width: 50%;
    height: 0%;
}

.mainElements {
    display: flex;
    align-items: center;
}

.mainImage {
    width: 50%;
    max-height: 70%;
    float: left;
}

.mainText {
    color: antiquewhite;
    height: 25%;
    width: auto;
    text-align: center;
}