/* Page settings */
@font-face {
    font-family: 'thermes';
    src: url('../src/fonts/uni_heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #151515;
	font-family: 'thermes';
}

/* Navigation */
.navigation {
    display: block;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navText {
    text-decoration: none;
    color: #faebd7;
}
.navigation small {
    color: #faebd7;
}
.navigation b {
    visibility: hidden;
}
.navText:hover {
    color: gray;
}
.navHere {
    text-decoration: none;
    color: gray;
}

/* Page Content */

.pageIntro {
    color: antiquewhite;
    text-align: center;
}

.rowOne {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project {
    position: relative;
    text-align: center;
}

.projectImg {
    opacity: 0.7;
    width: 90%;
    height: auto;
    background-color: black;
}

.projectImg:hover {
    opacity: 0.5;
}

.projectText {
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
}

.projectBtn:hover .projectImg {
    opacity: 0.5;
}